@model ClientViewModel

@{
    ViewData["Title"] = "Create Client";
}

@*TODO create partial for this OR object in base view*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Index">Clients</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Create Client</strong>
            </li>
        </ol>
    </div>
</div>
@*END*@

<div class="wrapper wrapper-content animated fadeInRight">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="WebSite" class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-10">
                <input asp-for="WebSite" class="form-control" />
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="DirectorName" class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-10">
                <input asp-for="DirectorName" class="form-control" />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EmailAddress" class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-10">
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-sm-4 offset-sm-2">
                <button class="btn btn-white btn-sm" type="submit">Cancel</button>
                <button class="btn btn-primary btn-sm" type="submit">Create</button>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <label asp-for="ImageFile" class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-10">
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile"></span>
            </div>
        </div>

    </form>
</div>

